<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss} [%level][%logger{36}]: %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console" />
    </appender>

    <root level="INFO">
        <appender-ref ref="async" />
    </root>

    <logger name="Node" level="INFO" />
    <logger name="Node.GetValue" level="INFO" />
    <logger name="Node.PutValue" level="INFO" />
    <logger name="Node.MoveData" level="INFO" />
    <logger name="Master.RegisterItself" level="INFO" />
    <logger name="Master.RegisterShard" level="INFO" />
    <logger name="Primary.RegisterReplica" level="DEBUG" />
    <logger name="Primary.AppendLog" level="DEBUG" />
    <logger name="Follower.AppendLog" level="DEBUG" />
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="io.grpc.netty.NettyServerHandler" level="INFO"/>
</configuration>